.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.page-container {
  padding-top: 2em;
}

.top-menu {
  border-radius: 0 !important;
}

.hero-container {
  padding-top: 2em;
  margin: auto;
  max-width: 30em !important;
}

.poster {
  border-radius: 5px;
  border: cornsilk;
}

.poster:hover {
  transform: scaleX(-1);
}

.signUpBtn {
  display: flex;
  justify-content: center;
}
