.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.page-container {
  padding-top: 2em;
}

.top-menu {
  border-radius: 0 !important;
}

.hero-container {
  padding-top: 2em;
  margin: auto;
  max-width: 30em !important;
}

.poster {
  border-radius: 5px;
  border: cornsilk;
}

.poster:hover {
  transition: width 2s, height 4s;
}

.signUpBtn {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}

.card-img-size {
  height: 280px;
}

.rating {
  color: indianred;
  font-size: 1.5em;
}

.wishlist-name {
  color: whitesmoke;
  font-size: 1.5em;
  font-weight: 200px;
  font-style: oblique;
}

.footer {
  margin-top: calc(5% + 60px);
  bottom: 0;
}

.footer-container {
  padding: 5em;
}

/* .btn {
  color: indianred;
} */
/* 
.card-img-size:hover {
  height: 305px;
} */
