.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.page-container {
  padding-top: 2em;
}

.top-menu {
  border-radius: 0 !important;
}

.hero-container {
  padding-top: 2em;
  margin: auto;
  max-width: 30em !important;
}

.hero-container-profile {
  padding-top: 2em;
  margin: auto;
  max-width: 30em !important;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.poster {
  border-radius: 5px;
  border: cornsilk;
}

.poster:hover {
  transition: width 2s, height 4s;
}

.signUpBtn {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}

.card-img-size {
  height: 280px;
}

.rating {
  color: indianred;
  font-size: 1.3em;
  font-style: italic;
}

.released-year {
  color: indianred;
  font-size: 0.9em;
  font-style: italic;
}

.wishlist-name {
  color: indianred;
  font-size: 1.5em;
  font-weight: normal;
  font-weight: 200px;
  font-style: oblique;
}

.number {
  color: indianred;
  font-size: 1.5em;
  font-weight: 200px;
  font-style: oblique;
}

@media (min-height: 320px) {
  .ui.footer.form-page {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.search-bar {
  padding: 22px 0px 15px 0px;
}

.text-color {
  color: whitesmoke !important;
}

.confirm-message {
  color: orangered !important;
  font-size: large;
}

.movie-year {
  color: grey;
  font-size: 15px;
}

.movie-released {
  color: gray;
  font-size: 12px;
}

.movie-title {
  font-size: 16px;
}

.film-title {
  font-weight: 1000;
  font-size: 40px;
}

.ui.cards a.card,
.ui.link.card,
.ui.link.cards .card,
a.ui.card {
  width: 200px;
}

.date {
  color: indianred;
}

i.icon.edit.outline:before {
  /* margin-left: 60px; */
  display: flex;
}

i.icon.user.delete:before {
  /* margin-left: 140px; */
  display: flex;
}

.ui.inverted.header {
  text-align: center;
}

.ui.text.container {
  height: 600px;
}

.hero-header {
  font-size: 6em;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0.8em;
}

.pagination-bar {
  text-align: center;
}

.wishlist-hero {
  font-size: 50px;
  font-weight: lighter;
  font-style: italic;
  height: 150px;
  margin-bottom: 10px;
  padding-top: 70px;
}

.a {
  text-decoration: none;
}

.popular {
  font-size: 25px;
  font-weight: 500;
  color: antiquewhite;
  font-style: italic;
}

.ui.inverted.header {
  line-height: 1.05em;
}
